<head th:insert="~{fragments/head :: cabecera-script}"></head>
<nav th:insert="~{fragments/nav :: navigation}"></nav>
<aside th:insert="~{fragments/aside :: aside}"></aside>

<body class="hold-transition sidebar-mini layout-fixed" sec:authorize="isAuthenticated()">
	<div class="wrapper">

		
		<!-- Main content -->
		<div class="content-wrapper">

			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Usuarios Perfil</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Usuarios</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
							<form th:action="@{/users/save}" method="POST" th:object="${user}"
								enctype="multipart/form-data" class="card p-4 p-md-5 shadow-v1">
															
								<label>Nombre:</label>
								<div class="input-group input-group--focus mb-3">
									<input type="hidden" th:field="*{id}">
									<input type="hidden" th:field="*{imagen}">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<input type="text" th:field="*{name}" id="name" name="name"
										class="form-control border-left-0 pl-0" placeholder="Name">
								</div>
								<label>Apellido:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<input type="text" th:field="*{lastName}" id="lastName" name="lastName"
										class="form-control border-left-0 pl-0" placeholder="Last name">
								</div>
								<label>Username:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<input type="text" th:field="*{userName}" id="userName" name="userName"
										class="form-control border-left-0 pl-0" placeholder="Username">
								</div>
								<label>Correo:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-email"></span>
									</div>
									<input type="email" th:field="*{email}" id="email" name="email"
										class="form-control border-left-0 pl-0" placeholder="Email">
								</div>

								<label>Password:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-email"></span>
									</div>
									<input type="text" th:field="*{password}" id="password" name="password"
										class="form-control border-left-0 pl-0" placeholder="*********">
								</div>
								<label>Telefono:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-email"></span>
									</div>
									<input type="text" th:field="*{phone}" id="phone" name="phone"
										class="form-control border-left-0 pl-0" placeholder="xxxx-xxxx">
								</div>

								<label>Dui:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<input type="number" th:field="*{dui}" id="dui" name="dui"
										class="form-control border-left-0 pl-0" placeholder="xxxx-xxxx">
								</div>
								<label>Direccion:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<input type="text" th:field="*{address}" id="address" name="address"
										class="form-control border-left-0 pl-0" placeholder="Direccion de domicilio">
								</div>

								<label>Fecha nacimiento:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<input type="date" th:field="*{birthday}" id="birthday" name="birthday"
										class="form-control border-left-0 pl-0" placeholder="BirthDays">
								</div>

								<label>Perfil:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<select class="form-control" th:field="*{profiles.id}">
										<option th:each="p : ${profiles}" th:value="${p.id}" th:text="${p.profile}">
										</option>
									</select>
								</div>
								

								<label>Departamento:</label>
								<div class="input-group input-group--focus mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-white ti-user"></span>
									</div>
									<select class="form-control" th:field="*{departments.id}">
										<option th:each="p : ${departments}" th:value="${p.id}" th:text="${p.name}">
										</option>
									</select>
								</div>

								<label>Foto Perfil:</label>
								<div class="input-group input-group--focus mb-3">
									<input type="file" class="form-control-file" name="archivoImagen"
										id="archivoImagen">
								</div>

								<!-- Agregué un div para contener la imagen del perfil -->
								<div class="input-group input-group--focus mb-3">
									<img class="rounded mx-auto d-block" th:src="@{/logos/{img}(img=${user.imagen})}"
										alt="Generic placeholder image" width="200" height="200">
								</div>


								<button class="btn btn-block btn-primary">Guardar</button>
							</form>


						</div>
						<!-- /.row -->
					</div><!-- /.container-fluid -->
				</div>
			</div>
			<!-- /.content -->
		</div>
		
	
<footer th:insert="~{fragments/footer :: pie-pagina}"></footer>

 <aside th:insert="~{fragments/asideControl :: asideControl}"></aside>

<!-- jQuery -->
		<script th:src="@{/dist/plugins/jquery/jquery.min.js}"></script>
		<!-- jQuery UI 1.11.4 -->
		<script th:src="@{/dist/plugins/jquery-ui/jquery-ui.min.js}"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
			$(document).ready(function () {
				$.widget.bridge('uibutton', $.ui.button);
			});
		</script>
		<!-- Bootstrap 4 -->
		<script th:src="@{/dist/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- ChartJS -->

		<!-- JQVMap -->
		<script th:src="@{/dist/plugins/jqvmap/jquery.vmap.min.js}"></script>
		<script th:src="@{/dist/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
		<!-- jQuery Knob Chart -->
		<script th:src="@{/dist/plugins/jquery-knob/jquery.knob.min.js}"></script>
		<!-- daterangepicker -->
		<script th:src="@{/dist/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/dist/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script th:src="@{/dist/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
		<!-- Summernote -->
		<script th:src="@{/dist/plugins/summernote/summernote-bs4.min.js}"></script>
		<!-- overlayScrollbars -->
		<script th:src="@{/dist/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/dist/js/adminlte.js}"></script>


</body>
</html>
	
		