<nav th:fragment="menu" class="ec-nav sticky-top bg-white">
	<div class="container-fluid">
		<div class="navbar p-0 navbar-expand-lg">
			<span aria-expanded="false" class="navbar-toggler ml-auto collapsed" data-target="#ec-nav__collapsible"
				data-toggle="collapse">
				<div class="hamburger hamburger--spin js-hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</span>
		</div>
	</div> <!-- END container-->
</nav> <!-- END ec-nav -->

<div class="site-search">
	<div class="site-search__close bg-black-0_8"></div>
	<form class="form-site-search" action="#" method="POST">
		<div class="input-group">
			<input type="text" placeholder="Search" class="form-control py-3 border-white" required="">
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
			</div>
		</div>
	</form>
</div> <!-- END site-search-->